---
import Card from '../Card.astro'

const cardStyle = 'flex flex-col gap-2 px-8 py-6'
const cardTitle = 'bg-clip-text text-2xl font-semibold mb-7'

const experiences = [
  {
    company: 'ZTZ Tech Group',
    rol: 'Desarrollador de Software',
    start: 'Ocubre 2023',
    end: 'Marzo 2023',
    description: 'En los 5 meses se desarrollaron 3 proyectos Fullstack ...'
  },
  {
    company: 'Motivus',
    rol: 'Practica Profesional',
    start: 'Marzo 2022',
    end: 'Junio 2022',
    description:
      'Para una plataforma de cómputo en la nube, se crearon algoritmos de Random Forest y Decision Tree que puedan competir en Rendimiento contra SK-Learn'
  }
]
---

<Card className=`${cardStyle} w-[60%]]`>
  <h2 class={cardTitle}>Experiencia Laboral</h2>
  <div class='flex flex-col gap-8'>
    {
      experiences.map((exp) => (
        <div class='flex items-start gap-2'>
          <div class='w-[40%] flex flex-col gap-2'>
            <h3 class='text-lg font-bold text-yellow-600	'>{exp.rol}</h3>
            <h4 class='font-normal text-lg  '>{exp.company}</h4>
            <p class='p-0 m-0 text-sm  '>
              {exp.start} - {exp.end}
            </p>
          </div>
          <div class='flex-1'>
            <p class='relative text-sm'>{exp.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</Card>
